/*
	Estilos Generales -Do Note

	Jx5
	________________________________
*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	text-align: center;
	font-family: arial;
}

.wrapper{
	margin: 30px;
	background: #dbdbdb40;
	border-radius: 20px;
	padding: 20px;
}

/* 
	elementos de los forms 
*/
.form{
	margin: 60px;
	padding: 50px;
	background: #fff;
}

.label-titulo-form{
	margin: 20px;
	padding: 10px;
	display: block;
	border-bottom: 3px solid #525657;
	font-size: 25px;
	letter-spacing: 0.065em;
	font-weight: 200;
	color: #312b2bc4;
}

.label-inst-form{
	margin: 5px;
	font-size: 16px;
	color: #312b2bc4;
}

.input-form{
	background: #fff;
	border: 2px solid #051e2473;
	text-align: center;
	margin: 10px;
	padding: 10px;
	width: 250px;
	border-radius: 10px;
	transition: all 0.5s;
}

.input-form:hover{border: 2px solid #c6c6c6;}

.s-form{
	background: #10555a;
	color: #fff;
	padding: 20px;
	width: 400px;
	border: none;
	border-radius: 20px;
	font-size: 20px;
	margin: 20px;
	transition: all 0.3s;
}

.s-form:hover{background: #5f92a4;}

.span-form{
	margin: 10px;
	display: block;
	color: #716a6a;
	cursor: pointer;
	transition: all 0.5s;
}

.span-form:hover{
	color: #193437;
}

/*
	msg al asuario
*/

.txt_NV{
	visibility: hidden;
	animation: NV 1s;
}

.error{
	color: #ec1717;
	visibility: visible;
	animation: V 2s;
}

.alerta{
	color: #205b5b;
	visibility: visible;
	animation: V 2s;
}

/*------Elementos visibles/no visibles-------*/
.V{
	display: block;
	animation: V 1s;
}

.NV{
	display: none;
	animation: NV 5s;
}

/*-----Animaciones------*/

/*
	V -> visible
*/

@keyframes V{
	0%{ opacity: 0; } 
	100%{ opacity: 2; }
}

/*
	NV -> no visible
*/

@keyframes NV{
	0%{ opacity: 2; }
	100%{ opacity: 0; }
}

/*-----loader-----*/
#loader .div-loader{
	background: #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#loader .div-loader .uno{
	background: #7b7d7b;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	bottom: 50px;
	right: 50px;
	width: 20%;
	height: 50%;
	z-index: 1;
	transform: rotate(10deg);
}

#loader .div-loader .uno .letra{
	width: 80%;
	height: 10px;
	margin: 20px;
	background: #fff;
	border-radius: 10px;
}

div.letra:nth-child(1){
	animation: letra 2.7s infinite;
}

div.letra:nth-child(2){
	animation: letra 2.7s 0.5s infinite;
}

div.letra:nth-child(3){
	animation: letra 2.7s 1s infinite;
}

div.letra:nth-child(4){
	animation: letra 2.7s 1.5s infinite;
}

@keyframes letra{
	0%{background: #646c6c; width: 40%;}
	100%{background: #fff; width: 80%;}
}

#loader .div-loader .dos{
	background: #00dfff;
	position: absolute;
	width: 20%;
	height: 50%;
	transform: rotate(10deg);
}

/*
    ------Dispositivos moviles---------
*/

@media screen and (max-width: 800px){
    
    #loader .div-loader .uno{
        width: 180px;
        height: 250px;
    }
    
    #loader .div-loader .dos{
        width: 180px;
        height: 250px;
    }
}